.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
.DS_Store
.env
# Terraform state files
*.tfstate
*.tfstate.backup
.terraform/
.tfplan

