#cloud-config
package_update: true
packages:
  - nginx

write_files:
  - path: /var/www/html/index.html
    permissions: "0644"
    owner: root:root
    content: |
      Hello from VMSS on $(hostname)!

  - path: /etc/nginx/sites-available/default
    permissions: "0644"
    owner: root:root
    content: |
      server {
        listen 8080 default_server;
        listen [::]:8080 default_server;

        root /var/www/html;
        index index.html;

        server_name _;

        location / {
          try_files $uri $uri/ =404;
        }
      }

runcmd:
  - systemctl enable nginx
  - systemctl restart nginx
  - nginx -t
